doctype
html
head
  title PubNub Data Sync with AngularJS
  script.
    if (Error && Error.stackTraceLimit) { Error.stackTraceLimit = Infinity; }
  script(src='bower_components/localforage/dist/localforage.js')
  script(src='bower_components/lodash/dist/lodash.js')
  script(src='bower_components/pubnub/web/pubnub.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-localforage/dist/angular-localForage.js')
  script(src='common/localforage.js')
  script(src='common/lodash.js')
  script(src='common/pubnub.js')
  script(src='app.js')

body(ng-app='data-sync')
  section(ng-controller='AppCtrl as appCtrl')
    img(src='img/pubnub.png', width='25%')
    ul
      li(ng-repeat='model in appCtrl.collection track by $index | orderBy:\'created_at\':true')
        | {{ model.content }}
        button(ng-click='remove(model.id)') X

    form(ng-submit='add(model)')
      input(ng-model='model.content', autofocus='autofocus')
      button Add

    pre
      | {{ appCtrl.collection | json }}

  script.
    angular.module('data-sync')
    .constant('Keys', {
      pub: "#{keys.PUB}",
      sub: "#{keys.SUB}"
    })
